$portfolio-accent-color: #2c3e50;
$portfolio-text-color: #ecf0f1;

$project-detail-background-color: #ecf0f1;
$project-detail-text-color: #2c3e50;
$project-detail-link-color: #2c3e50;
$project-detail-link-hover-color: lighten( $project-detail-link-color, 33% );

.page-back-button {
  margin-top: 3em;
}

.back-to-catalogue-container {
  margin: 1.5rem 0rem;
  text-align: center;
}

.back-to-catalogue-center{
  text-align: center;
}

.back-left-arrow {


}

.about-me-detail-container{
  background-color: $project-detail-background-color;
  color: $project-detail-text-color;

  width: 100%;

}

.about-me-detail {
  padding: 8%;

  .detail-head {
    display: inline-flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .detail-date {
    font-size: 0.8em;
    // width: 15%;

    display: flex;
    flex-flow: column nowrap;
  }

  .detail-body {
    .paper-layout {
      padding: 0px 5%;
      text-align: justify;
      text-justify: inter-word;

    }
  }

  .detail-footer {
    font-size: 1.5em;
    padding-top: 5%;
  }


  ul {
    list-style: disc;
    padding-left: 5%;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: $project-detail-link-color;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    color: $project-detail-link-hover-color;
  }


  img {
    border-radius: 0.3rem;
    filter: drop-shadow(0 0 0.5rem grey);
  }

}



.mobile-footer {
  background-color: $portfolio-accent-color;
  color: $portfolio-text-color;
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.anchor-link{
  margin: 1rem 0rem;

}

.header-image {
  margin: 3rem 0rem;
}

.share-post {
  // background-color: red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.5rem 0rem;
}

.share-icon {
  // background-color: gold;
  margin-right: 0.5rem;
}

.tags-list{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem 1rem;
}

.date-icon{
  // background-color: red;
  // width: 30%;
  // margin-right: 0.5rem;
}

.date-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: 100%;
  margin: 0.5rem 0rem;

  svg {
    margin-right: 0.5rem;
  }
}

.project-detail-container {
  padding: 0px 5% 20% 5%;
  background-color: $project-detail-background-color;
  color: $project-detail-text-color;

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
    text-decoration: underline;
    margin-top: 5%;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    color: $project-detail-link-color;
    text-decoration: underline;
    font-weight: bold;
  }

  .project-detail-head {
    display: inline-flex;
    width: 100%;

    flex-flow: column;
    justify-content: space-between;
    padding: 2rem 0px;

    text-align: center;

    .project-detail-date{
      font-size: 0.8em;
    }
  }
}

.project-detail-end {
  text-align: center;
  padding-top: 10%;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.bottom-nav {
  width: 100%;
  height: 25%;

  display: flex;
  flex-flow: column;
  justify-content: center;

  order: 1;

  .connection-list {

    ul {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .last-build {
    display: none;
  }

  .simple-credit {
    display: none;
  }

  .source-link {
    display: none;
  }

  .build-info {
    display: none;
  }

}

.middle-nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
  }

  display:flex;
  flex-flow: column;
  justify-content: center;
  height: 25%;
  order: 2;

}

.top-nav {
  background-color: $portfolio-accent-color;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 50%;

  h1 {
    order: 1;
    padding-left: 3%;
    height: 50%;
    font-size: 2em;
    color: $portfolio-text-color
  }

  // margin-top: 30px;
  order: 0;
}

.project-item-container {

  width: 100%;

  display: flex;
  flex-flow: column;

  .project-item {
    height: 15vh;

    &:hover {
      color: $portfolio-text-color;
    }

    li {
      height: 100%;

      .projectLink {
        position: relative;
        top: 25%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }

      .right-arrow {
        text-align: center;
        padding-bottom: 5%;
      }

      .project-title {
        text-align: center;
      }
    }

  }

}

.left-side-bar {
  background-color: $portfolio-accent-color;
  height: 25vh;
  width: 100%;


  display: flex;
  flex-flow: column;
}

.main-container {
  width: 100vw;

  display: flex;
  flex-flow: column;
}

html {
  overflow-y: unset;
  overflow-x: unset;
}
