.greetings {
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 3em; }

.avatar-img {
  width: 115px;
  height: 115px;
  border-radius: 50%; }

.avatar-container {
  display: block;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.connection-list a {
  color: white;
  padding-left: 2px;
  padding-right: 2px; }

.connection-list {
  display: inline-flex;
  list-style: outside none none; }

.bottom-nav {
  text-align: center;
  height: 33%; }

.middle-nav {
  text-align: center;
  height: 34%; }

.top-nav {
  background-color: red;
  height: 33%; }

.project-item {
  background-color: pink;
  width: 25%;
  height: 25%; }

.project-item-container {
  background-color: grey;
  height: 100%;
  width: 80vw;
  display: flex;
  flex-flow: row wrap; }

.left-side-bar {
  background-color: gold;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-flow: column; }

.main-container {
  background-color: cyan;
  height: 100vh;
  display: flex;
  flex-flow: row; }

html {
  overflow-y: unset;
  overflow-x: unset; }
