.greetings {
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 3em; }

.avatar-img {
  width: 115px;
  height: 115px;
  border-radius: 50%; }

.avatar-container {
  display: block;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center; }

.bottom-nav {
  height: 33%; }
  .bottom-nav .connection-list {
    height: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .bottom-nav .connection-list ul {
      display: inline-flex;
      list-style: outside none none;
      margin: auto; }
      .bottom-nav .connection-list ul li {
        padding: 5px; }
  .bottom-nav .build-info {
    height: 10%;
    text-align: center; }
  .bottom-nav .source-link {
    height: 10%;
    text-align: center; }
  .bottom-nav .simple-credit {
    text-align: center; }
  .bottom-nav .last-build {
    height: 10%;
    text-align: center; }

.middle-nav {
  color: white;
  font-weight: bold;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 34%; }
  .middle-nav ul {
    list-style: outside none none; }
    .middle-nav ul li {
      padding: 5px 0px; }

.top-nav {
  background-color: red;
  height: 33%; }

.project-item {
  background-color: pink;
  width: 25%;
  height: 25%; }

.project-item-container {
  background-color: grey;
  height: 100%;
  width: 80vw;
  display: flex;
  flex-flow: row wrap; }

.left-side-bar {
  background-color: gold;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-flow: column; }

.main-container {
  background-color: cyan;
  height: 100vh;
  display: flex;
  flex-flow: row; }

html {
  overflow-y: unset;
  overflow-x: unset; }
