.project-detail-container {
  padding: 0px 2% 20% 2%; }
  .project-detail-container .project-detail-head {
    background-color: brown;
    display: inline-flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    padding: 5% 0px; }

.project-detail-end {
  text-align: center;
  padding-top: 10%; }

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px; }

.bottom-nav {
  width: 100%;
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  order: 1; }
  .bottom-nav .connection-list {
    width: 100%; }
    .bottom-nav .connection-list ul {
      display: flex;
      justify-content: space-around; }
  .bottom-nav .last-build {
    display: none; }
  .bottom-nav .simple-credit {
    display: none; }
  .bottom-nav .source-link {
    display: none; }
  .bottom-nav .build-info {
    display: none; }

.middle-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 25%;
  order: 2; }
  .middle-nav ul {
    display: flex;
    justify-content: space-around; }

.top-nav {
  background-color: blue;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  order: 0; }
  .top-nav h1 {
    order: 1;
    padding: 30px;
    height: 50%; }

.project-item-container {
  background-color: grey;
  width: 100%;
  display: flex;
  flex-flow: column; }
  .project-item-container .project-item {
    background-color: pink;
    height: 15vh; }
    .project-item-container .project-item li {
      height: 100%; }
      .project-item-container .project-item li .projectLink {
        position: relative;
        top: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      .project-item-container .project-item li .right-arrow {
        text-align: center;
        padding-bottom: 5%; }
      .project-item-container .project-item li .project-title {
        text-align: center; }

.left-side-bar {
  background-color: gold;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-flow: column; }

.main-container {
  background-color: cyan;
  width: 100vw;
  display: flex;
  flex-flow: column; }

html {
  overflow-y: unset;
  overflow-x: unset; }
