.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px; }

.bottom-nav {
  width: 100%;
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  order: 1; }
  .bottom-nav .connection-list {
    width: 100%; }
    .bottom-nav .connection-list ul {
      display: flex;
      justify-content: space-around; }
  .bottom-nav .last-build {
    display: none; }
  .bottom-nav .simple-credit {
    display: none; }
  .bottom-nav .source-link {
    display: none; }
  .bottom-nav .build-info {
    display: none; }

.middle-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 25%;
  order: 2; }
  .middle-nav ul {
    display: flex;
    justify-content: space-around; }

.top-nav {
  background-color: blue;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  order: 0; }
  .top-nav h1 {
    order: 1;
    padding: 30px;
    height: 50%; }

.project-item {
  background-color: pink;
  height: 10vh; }

.project-item-container {
  background-color: grey;
  width: 100%;
  display: flex;
  flex-flow: column; }

.left-side-bar {
  background-color: gold;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-flow: column; }

.main-container {
  background-color: cyan;
  width: 100vw;
  display: flex;
  flex-flow: column; }

html {
  overflow-y: unset;
  overflow-x: unset; }
